#############
## Python
#############
*.py[cod]

# Translations
*.mo

# Emacs autosave files
\#*#
*~

# Windows batch files
*.bat

# usually perl -pi.back -e edits.
*.back
*.bak

*.epub
*Thumbs.db
EpubMerge.zip
EpubMerge.egg-info
